{% extends 'base.html' %}

    {% block head %}
    <title>Home</title>
    {% endblock %}

    {%block body%}
    <br>
    <div>
        <h1 style="display:inline">Home Page</h1>
        <a style="display:inline" class="btn btn-space btn-primary m-2 float-end" href="/login">Login</a>
        <a style="display:inline" class="btn btn-space btn-primary m-2 float-end" href="/register">Sign Up</a>
    </div>
    <br>
    <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>Welcome</h1>
          <p>Welcome to Karthik Krishnan's blogs. I will be blogging about the endless possibilities of data science and analytics that includes but not limited to credit risk analytics, marketing analytics and campaign management </p>
          <p>Connect with me on <a href="https://www.linkedin.com/in/karthik-k-2b8b4354/">Linkedin</a></p>
          <p>
            <a class="btn btn-success" href="/posts" role="button">Go to Posts &raquo;</a>
          </p>
        </div>
      </div>
    </div>

    {%endblock%}